body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 458px;
}

input {
  height: 30px;
  padding-left: 18px;
  padding-right: 10px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 100px;
  border-style: double;
  border-color: darkblue;
}

button {
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: 16px;
  background-color: lightskyblue;
  margin-top: 4px;
  border-radius: 100px;
  border-color: darkblue;
  border-style: double;
}

ul {
  padding-left: 10;
  padding-right: 10;
}

li {
  margin-top: 5px;
  list-style-type: decimal-leading-zero;
  color: darkblue;
  word-wrap: break-word;
  font-size: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: darkblue;
}

a:hover {
  color: rgb(1, 1, 108);
  font-size: 18px;
}
